$primary-header-color: hsl(217, 28%, 15%);
$primary-body-color: hsl(218, 28%, 13%);
$primary-footer-color: hsl(216, 53%, 9%);
$primary-testimonials-color: hsl(219, 30%, 18%);
$neutral-color: hsl(0, 0%, 100%);
$tur:#62e0d9;
$light-font: 100;
$moderate-font: 400;
$bold-font: 700;
$blue-gradiant: linear-gradient(to right, #55dded,#40aecf);
